---
component: nav
---
<!-- Nav
================================================== -->
<ul>
  <li class="nav-home{{#is title "UX Designer + Developer"}} active {{/is}}">
  <a href="/">Home</a>
  </li>
  <li class="nav-portfolio{{#is title "Portfolio"}} active {{/is}}">
  <a href="/portfolio.html">Portfolio</a>
  </li>
  <li class="nav-resume{{#is title "R&eacute;sum&eacute;"}} active {{/is}}">
    <a href="/resume.html">R&eacute;sum&eacute;</a>
  </li>
  <li class="nav-contact{{#is title "Contact Dane"}} active {{/is}}">
    <a href="/contact.html">Contact</a>
  </li>
</ul>
