---
title: "404 Page Not Found"
slug: "error"
---

<div class="header">
  <h1>Oops! Something went wrong.</h1>
</div>
<div class="content">
  <div class="span-12 last">
    <p>The page you requested was not found.</p>
  </div>
</div>
