---
title: "UX Designer + Developer"
slug: "home"
---

<div class="header">
  <h3>I am a lead interaction designer for GE in sunny California, where I design and build software for jet engines. Before that I was with Adaptive Path, where I helped companies like Nike, U.N. Global Pulse, PG<span class="amp">&amp;</span>E, Topsy Labs and Smart.fm strategize and deliver great digital products. I am passionate about sketching, coding and teaching.</h3>
</div>
<div class="content">
  <div class="span-6">
    <p>For over ten years I&rsquo;ve been planning, designing and building digital products for an eclectic range of clients in the technology, energy, financial, retail and entertainment sectors. From multi-channel strategies to production-ready front-end code, my hybrid skills as a designer and developer ensure there&rsquo;s never a dull day.</p>
    <p>I have an insatiable curiosity and am passionate about the outdoors, space travel, music, philosophy, agile processes, and the intersection of design and engineering. Outside of work I enjoy the outdoor pursuits of snowboarding, kiteboarding, camping, hiking and running, and the indoor joys of writing, reading, coding and homebrewing.</p>
    <p>In my journey I&rsquo;ve worked as a wilderness guide, snowboard instructor, camp counselor, windsurfing director, envelope stuffer, standardized test grader, shipping manager, pizza thrower, humor writer, arts reporter, jazz musician and barista. I worked as a professional web developer for over five years and was the lone gun behind Brainside Out, a tiny web design shop.</p>
    <p>One of these days, I&rsquo;m going to build an airplane.</p>
  </div>
  <div class="span-6 last">
    <ul class="home-portfolio-list">
      <li><a href="/portfolio/lean-day-west"><img src="/{{site.imgFolder}}/leandaywest/leandaywest-banner-450.jpg" alt="Design At Scale Workshop at Lean Day West" class="img-border img-padding" /><br>
        &ldquo;Design At Scale&rdquo; Workshop at Lean Day West</a></li>
      <li><a href="/portfolio/industrial-internet"><img src="/{{site.imgFolder}}/industrialinternet/industrialinternet-banner-450.jpg" alt="Designing the Industrial Internet" class="img-border img-padding" /><br>
        &ldquo;Designing the Industrial Internet&rdquo; Talk</a></li>
      <li><a href="/portfolio/on-aircraft"><img src="/{{site.imgFolder}}/onaircraft/onaircraft-banner-450.jpg" alt="On Aircraft and Craft" class="img-border img-padding" /><br>
        &ldquo;On Aircraft and Craft&rdquo; Interaction13 Talk</a></li>
      <li><a href="/portfolio/fastest-pivot"><img src="/{{site.imgFolder}}/fastestpivot/fastestpivot-banner-450.jpg" alt="The Fastest Pivot You'll Ever Make" class="img-border img-padding" /><br>
        &ldquo;The Fastest Pivot You&rsquo;ll Ever Make&rdquo; Talk</a></li>
    </ul>
    <h3 class="alignright"><a href="/portfolio">More Portfolio Items &raquo;</a></h3>
  </div>
</div>
