---
title: "Outside In: Chrono Prototype"
slug: "chronoprototype" 
---

<div class="header">
  <h1>Outside In: Chrono Prototype</h1>
  <h3>This prototype aims to mimic the movement of the sun outside a south-facing window throughout the day, elegantly communicating the sense of a slow, natural passage of time i</h3>
</div>
<div class="content">
  <div class="span-8">
    <div style="padding-bottom: 1.5em;">
      <iframe src="http://player.vimeo.com/video/9619638?portrait=0" width="620" height="465" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    </div>
  </div>
  <div class="span-4 last project-meta">
    <h2>Project Responsibilities</h2>
    <p>Prototyping</p>
    <h2>Project Team</h2>
    <p>Dane Petersen</p>
    <h2>Project Timeline</h2>
    <p>February 2010</p>
  </div>
</div>
