---
title: "Erratik Productions Website Redesign"
slug: "erratik" 
---

<div class="header">
  <h1>Erratik Productions Website Redesign</h1>
  <h3>Erratik Productions is a video production company based in Minnesota that creates eclectic films and documentaries, influenced strongly by jazz, rock, electronica and hip-hop music.</h3>
  <h3>To help Erratik with their grassroots marketing efforts, I built a website that allows them to feature their latest videos, and keeps visitors up-to-date with their current projects.</h3>
</div>
  <div class="content">
  <div class="span-8">
    <p><a href="http://www.erratikproductions.com/" rel="external"><img src="/images/erratik/screenshot-01-610.jpg" alt="Screenshot of the redesigned Erratik Productions website" class="img-border img-padding" /></a></p>
  </div>
  <div class="span-4 last project-meta">
    <h2>Project Responsibilities</h2>
    <p>Website Design, Design Implementation, Front-End Development, WordPress Customization, Webhost Migration, Video Compression</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
      Ryan Rapsys, Erratik Productions</p>
    <h2>Project Technologies</h2>
    <p>XHTML/CSS, JavaScript, PHP, MySQL, WordPress, QuickTime</p>
    <h2>Project Timeline</h2>
    <p>April &ndash; May 2006<br>
      Launched May 2006</p>
    <h2>Project Website</h2>
    <p><a href="http://www.erratikproductions.com/" rel="external">www.erratikproductions.com</a></p>
  </div>
</div>
