---
title: Portfolio
slug: portfolio
---

<div class="header">
  <h3>As a designer I make great big messes, and as a developer I bring those messes to life. I&rsquo;ve created release-worthy code, rich interactive prototypes, digital ecosystem road maps, multi-channel service strategies, and terrible concept sketches. I&rsquo;m passionate about sharing my love for sketching and code with others through talks and workshops.</h3>
</div>
<div class="content">
  <ul class="portfolio-list">
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/lean-day-west">&ldquo;Design At Scale&rdquo; Workshop<br><img src="/images/leandaywest/leandaywest-banner-450.jpg" alt="Design At Scale Workshop" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">At Lean Day West, Karel Barnoski and I conducted a half-day workshop where we taught UX professionals how to achieve better, faster UX in the enterprise by using design systems, sketching, and prototyping techniques.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/industrial-internet">&ldquo;Designing the Industrial Internet&rdquo; Talk<br><img src="/images/industrialinternet/industrialinternet-banner-450.jpg" alt="Designing the Industrial Internet" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">At IxDA San Francisco&rsquo;s &ldquo;Design Doing&rdquo; event, I gave a talk about my experience working as an interaction designer at GE, where I use an HTML/CSS/JS framework to design in code on an agile development team.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/on-aircraft">&ldquo;On Aircraft and Craft&rdquo; Interaction13 Talk<br><img src="/images/onaircraft/onaircraft-banner-450.jpg" alt="On Aircraft and Craft" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">At Interaction13 in Toronto I gave a talk about Burt Rutan, an aerospace engineer whose self-imposed design principles led him to create the world&rsquo;s first manned commerical spacecraft.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/fastest-pivot">&ldquo;The Fasted Pivot You&rsquo;ll Ever Make&rdquo; Talk<br><img src="/images/fastestpivot/fastestpivot-banner-450.jpg" alt="The Fastest Pivot You'll Ever Make" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">I gave a talk at RocketSpace in San Francisco to a packed house of startups on how they can use user experience principles to craft more desirable products more quickly.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/hunchworks">U.N. Global Pulse HunchWorks Talk<br><img src="/images/hunchworks/hunchworks-banner-450.jpg" alt="U.N. Global Pulse HunchWorks Initiative" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Adaptive Path helped Global Pulse work through the messy human challenges of HunchWorks, a system designed to detect and mitigate emerging global crises before they occur.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/fridge-alarm">Adaptive Path Fridge Alarm<br><img src="/images/fridgealarm/fridgealarm-banner-450.jpg" alt="Adaptive Path Fridge Alarm" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Adaptive Path had a meddlesome refrigerator with a door that wouldn&rsquo;t always shut, spoiling our food and wasting precious resources. I wired it up so it would play hit 80s music if it got left open too long.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/adaptive-events">Adaptive Path Events Development<br><img src="/images/adaptiveevents/adaptiveevents-banner-450.jpg" alt="Adaptive Path Events Development" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">I revamped the technology platform of Adaptive Path&rsquo;s Events websites, preserving their rich history of content while creating a strong foundation for launching new sites year after year.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/mx-recording">MX Conference Graphic Recording<br><img src="/images/mxrecording/mxrecording-banner-450.jpg" alt="MX Conference Graphic Recording" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">At Adaptive Path&rsquo;s 2011 MX Conference I created enormous sketches as our speakers gave their talks, responding to their ideas and recording them in real time.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/smartfm-app">Smart.fm iPhone App Concepts<br><img src="/images/smartfmapp/smartfmapp-banner-450.jpg" alt="Smart.fm iPhone App Concepts" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">As an experience design intern at Adaptive Path I worked with the Smart.fm team, engaging in extensive concept generation and ideation to inform the design direction of a new iPhone app.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/adaptive-home">Adaptive Path Home Page<br><img src="/images/adaptivehome/adaptivehome-banner-450.jpg" alt="Adaptive Path Home Page Redesign" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">While working as an experience design intern at Adaptive Path, I dared to rewrite some of Douglas Bowman&#8217;s own code and implemented a newly designed home page.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/outside-in">Outside In: Bringing the Outdoors Indoors<br><img src="/images/outsidein/outsidein-banner-450.jpg" alt="Outside In: Design Principles for Bringing the Outdoors Indoors" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">I propose a series of principles to guide the design of systems that evoke a sense of the outdoors in indoor spaces. This eight-month project was my final capstone project in completing my master&rsquo;s degree in interaction design.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/professor-books">Super Secret Professor Books<br><img src="/images/professorbooks/professorbooks-banner-450.jpg" alt="Super Secret Professor Books" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">A small team of design students banded together in secrecy to create a series of personalized hardcover books that share how much our HCI/d cohort appreciates our professors.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/wiichuck-pong">WiiChuck Pong<br><img src="/images/wiichuckpong/wiichuckpong-banner-450.jpg" alt="Super Secret Professor Books" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">I used an Arduino to connect a Nintendo Wii Nunchuk to my computer, and modified a game of Pong so I could control the paddles using the accelerometers in the controller.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/recipe-prototype">Recipe Application Prototype<br>
          <img src="/images/recipeprototype/recipeprototype-banner-450.jpg" alt="Recipe Web Application High-Fidelity Prototype" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">I took the wireframes and requirements for a proposed web form, and built an interactive high-fidelity XHTML/CSS/Javascript prototype for a fictional recipe application.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/energy-monitor">Home Energy Monitoring System<br>
          <img src="/images/energymonitor/energymonitor-banner-450.jpg" alt="Residential Electricity Monitoring and Feedback System" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">We propose a residential electricity monitoring and feedback system for the iPhone that allows users to track their home energy usage, and encourages them to reduce consumption. We presented this project at CHI 2009 and placed fourth overall in the Student Design Competition.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/energy-monitor-poster">CHI 2009 Competition Poster<br>
          <img src="/images/energymonitorposter/energymonitorposter-banner-450.jpg" alt="CHI 2009 Student Design Competition Poster" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">In advancing to the second round of the 2009 CHI Student Design Competition, we designed and printed a poster describing our concept for a home electricity monitoring system.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/light-sandbox">&#8220;Light Sandbox&#8221; Experience Prototype<br>
          <img src="/images/lightsandbox/lightsandbox-banner-450.jpg" alt="&#8220;Light Sandbox&#8221; Experience Prototype" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">The Light Sandbox allows people to use mirrors and prisms to manipulate light, projecting their creations onto a shared light column. We created experience prototypes to inform our design for this conceptual museum exhibit.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/akzidenz-book">&#8220;See Akzidenz First!&#8221; Type Specimen Book<br>
          <img src="/images/akzidenzbook/akzidenzbook-banner-450.jpg" alt="&#8220;See Akzidenz First!&#8221; Type Specimen Book" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Inspired by the turn-of-the-century American railway lodges of the Glacier National Park region, I designed a specimen book for the Akzidenz-Grotesk type family.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/food-advisor">Weight Watchers Fast Food Advisor<br>
          <img src="/images/foodadvisor/foodadvisor-banner-450.jpg" alt="Weight Watchers Fast Food Advisor" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">With this conceptual iPhone application, we aim to help users make good, healthy eating choices when they are at their most vulnerable, and when they are most likely to give into temptation: when they are eating out.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/bigwinds">Big Winds Commerce Rebuild<br>
          <img src="/images/bigwinds/bigwinds-banner-450.jpg" alt="Big Winds Ruby on Rails Commerce Rebuild" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">With the help of a local developer we rebuilt the Big Winds commerce engine in Ruby on Rails, to the tune of improved performance, easier maintenance, faster development, smarter product data, and a pixel-perfect grid design.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/type-cliche">Typography Clich&eacute; Letterpress Book<br>
          <img src="/images/typecliche/typecliche-banner-450.jpg" alt="Typography Clich&eacute; Letterpress Book" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">As part of a project to familiarize ourselves with traditional letterpress machinery, we printed a book of typography clich&eacute;s in the type shop at Indiana University.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/letterforms">Letterform Combinations<br>
          <img src="/images/letterforms/letterforms-banner-450.jpg" alt="Letterform Combinations" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">We explored figure/ground relationships by combining two letterforms into a single visual unit. This project helped fine-tune my appreciation for the variety of subtle differences found in typefaces.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/lost-dreams">Dane and James&rsquo; Lost Dreams<br>
          <img src="/images/lostdreams/lostdreams-banner-450.jpg" alt="Dane and James&rsquo; Lost Dreams Cruise Ship" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">We propose a cruise ship that uniquely caters to the people who typically go on cruises; namely, those who have faded Harley Davidson t-shirts, wear fanny packs, and have a favorite monster truck driver.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/many-eyes">Many Eyes Usability Study<br>
          <img src="/images/manyeyes/manyeyes-banner-450.jpg" alt="Many Eyes Usability Study" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">In an effort to uncover potential issues with ease of learning, we conducted a formal usability evaluation of the Many Eyes data visualization website, and compiled our findings in a final report.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/lost-mountain">Lost Mountain Website Redesign<br>
          <img src="/images/lostmtn/lostmtn-banner-450.jpg" alt="Lost Mountain Clayworks Website Redesign" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Lost Mountain Clayworks is the eclectic pottery studio of Mark Heimann. I designed and launched the new Lost Mountain website, creating a rugged look and bringing online shopping to his sturdy line of pirate stoneware.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/tuesdays-robot">Tuesdays Robot Website Redesign<br>
          <img src="/images/tuesdaysrobot/tuesdaysrobot-banner-450.jpg" alt="Tuesdays Robot Website Redesign" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Heavily influenced by Bob Dylan, Tuesdays Robot is a country rock band hailing from Minneapolis. I designed and launched a new website to correspond with the release of their first official album.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/erratik">Erratik Productions Website Redesign<br>
          <img src="/images/erratik/erratik-banner-450.jpg" alt="Erratik Productions Website Redesign" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Erratik Productions is a video production company that is influenced strongly by jazz, rock and hip-hop music. I built a website that helps Erratik manage their grassroots marketing efforts.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/bixby-heart">Bixby Heart Dot Com<br>
          <img src="/images/bixbyheart/bixbyheart-banner-450.jpg" alt="Bixby Heart, Mark Bixby's Heart Rate Monitor" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">We built a web-based iPhone application to help our dear friend Mark Bixby keep an eye on his ticker during SXSW 2008. By choosing to feed him bacon or juice, the crowd had control over Mark&#8217;s delicious fate.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/bigwinds-photo">Big Winds Action Photography<br>
          <img src="/images/bigwindsphoto/bigwindsphoto-banner-450.jpg" alt="Big Winds Action Photography" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">As their resident photographer, I bulked up the Big Winds library with more than 3,500 local photographs that document their unique Columbia Gorge lifestyle.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/pirate-video">Captain Quicksilver&#8217;s Pirate Video<br>
          <img src="/images/lostmtn/piratevideo-banner-450.jpg" alt="Captain Quicksilver's Pirate Video" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Working against a tight deadline, we put together an entry video for Captain Morrigan Quicksilver, firing off his first salvo in his quest to star in Mark Burnett&#8217;s <em>Pirate Master</em> reality show.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/alpine">Alpine Copywriting Campaign<br>
          <img src="/images/alpine/alpine-banner-450.jpg" alt="Alpine Internet Solutions Marketing and Copywriting Campaign" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Alpine is a small web development company offering content management and web marketing services. I took over their own marketing efforts, writing case studies and email newsletters to help them spread the good word.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/brainsideout">Brainside Out<br>
          <img src="/images/brainsideout/brainsideout-banner-450.jpg" alt="Brainside Out" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">Brainside Out has been my online haven for experimentation since 2001, taking form over the years as a website, weblog, portfolio, and even a freelance design business.</div>
    </li>
    <li class="clear">
      <div class="portfolio-title span-6">
        <h3><a href="/portfolio/daneomatic">Daneomatic<br>
          <img src="/images/daneomatic/daneomatic-banner-450.jpg" alt="Daneomatic" class="img-border img-padding" /></a></h3>
      </div>
      <div class="portfolio-description span-6 last">While I have been blogging for over seven years, Daneomatic has been my personal weblog since 2006.</div>
    </li>
  </ul>
</div>
