---
component: nav
---
<!-- Nav
================================================== -->
<ul>
  <li class="nav-home{{#is basename "index"}} active{{/is}}">
    <a href="/">Home</a>
  </li>
  <li class="nav-portfolio{{#is basename "portfolio"}} active{{/is}}{{#contains dirname "portfolio"}} active{{/contains}}">
    <a href="/portfolio">Portfolio</a>
  </li>
  <li class="nav-resume{{#is basename "resume"}} active{{/is}}">
    <a href="/resume">R&eacute;sum&eacute;</a>
  </li>
  <li class="nav-contact{{#is basename "contact"}} active{{/is}}">
    <a href="/contact">Contact</a>
  </li>
</ul>
